<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
        <add key="expireToken" value="30" />
        <add key="tokenFake" value="TestToken" />
        <add key="userFakeId" value="54206" />
        <add key="userFakeLogin" value="webapi" />
        <add key="userFakeCompany" value="228" />
        <add key="SmtpHost" value="smtp.inmov.net" />
        <add key="SmtpPort" value="25" />
        <add key="SmtpUser" value="naoresponda@inmov.net" />
        <add key="SmtpPwd" value="c9dtE9MeILXO5MZ3GIe77Q==" />

        <add key="CryptoVector" value="hrEyySYcurA=" />
        <add key="CryptoKey" value="bTRMBIs9fp4=" />

        <add key="ServerRoot" value="c:/homolog" />
        <add key="UploadPath" value="/Upload" />

        <add key="warrantyDefault" value="30" />
        <add key="quartzPath" value="C:\inmov\acrux\Acrux\app\Quartz.NET\" />

        <add key="codeciphersInmovCompanyKey" value="e5a2245f-f69d-40cd-be4f-12e84448ef55"/>
        <add key="codeciphersFrontDeskAppKey" value="6ea8a31f-cc00-4ed3-a44d-389e7f011ee8"/>
        <add key="codeciphersFrontServicesAppKey" value="f3966ae3-52fc-4e9e-a4ef-d6b4db400289"/>
        <add key="codeciphersFrontManagementAppKey" value="a12056ac-6cd7-445f-a370-2893227abb28"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdmServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AdmServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AdmServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://homolog.codeciphers.com/upassadminws/admservice.asmx"
              binding="basicHttpBinding" bindingConfiguration="AdmServiceSoap"
              contract="CodeCiphers.Services.AdmServiceSoap" name="AdmServiceSoap" />
        </client>
    </system.serviceModel>
    <connectionStrings configSource="myConnectionStrings.config">
    </connectionStrings>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
